@charset "utf-8";

// colors
$light-brand-color:         			#54c7dd;
$light-add-color:									#54c7dd;
$light-delete-color:							#ff2222;
$light-error-color:								#DB2900;
$light-warning-color:							#F78803;
$light-success-color:							#00D35A;

$light-positive-color:						#00D35A;
$light-negative-color:						#DB2900;
$light-neutral-color:							#00BFF3;

$light-male-color:								#00bff3;
$light-female-color:							#ff72ce;
$light-male-color-muted:					#1D6776;
$light-female-color-muted:				#92268E;
$light-no-gender-color:						#b3b3b3;

$light-toned-down-positive-color:	#238C2B;
$light-toned-down-negative-color:	#8C232B;
$light-toned-down-neutral-color:	#00BFF3;

$light-toned-down-male-color:			#00bff3;
$light-toned-down-female-color:		#ff72ce;
$light-toned-down-no-gender-color:#b3b3b3;

$light-accent-color-1:						#F78803; // orange
$light-accent-color-2:						#ffffff; // white
$light-accent-color-3:						#b3b3b3; // gray

// some colors for buttons
$light-btn-text-color:						#121212;
$light-btn-secondary-border-color:#e6e6e6;

// some colors for inputs
$light-input-border-color:				#cccccc;
$light-input-background-color:		#f2f2f2;
$light-input-text-color:					#666;
$light-input-active-text-color:		#444;

// the base background color of the app
$light-background-color:					#f0f0f0;
$light-main-content-background-color:#ffffff;

$light-placeholder-color:					#e0e0e0;