.company-selector {
  position: relative;
  min-width: 120px;
  max-width: 225px;
  border: 1px solid $gray8;
  border-radius: 2px;
  padding: 0px;
  z-index: 10;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    .company-selector__head {
      opacity: 0.66;
    }
  }
  
  &:focus {
    outline: none;
    border-color: $brand-color;
    color: $input-active-text-color;
    box-shadow: 0 0 10px 0 darken($brand-color, 15%);
    -webkit-box-shadow: 0 0 10px 0 darken($brand-color, 15%);
    -moz-box-shadow: 0 0 10px 0 darken($brand-color, 15%);
    -ms-box-shadow: 0 0 10px 0 darken($brand-color, 15%);
  }
  &__head {
    margin-top: 0px;
    &__arrow {
      padding-left: 10px;
    }
  }
  &__dropdown {
    &--with-search {
      .company-selector__dropdown__list {
        margin: 25px 0 0;
      }
    }
    &__search {
      position: absolute;
      top: 100%;
      left: -1px; // border above
      right: -1px;
      box-sizing: border-box;
      width: 100px;
      border: 0px;
      height: 24px;
      line-height: 20px;
      padding: 4px 0 0;
      background: $gray2;
      border-bottom: 2px solid $gray5;
      color: $brand-color;
    }
    &__list {
      list-style: none;
      position: absolute;
      top: 100%;
      left: -1px; // border above
      right: -1px;
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 300px;
      padding: 0px;
      z-index: 10;
      background: $gray2;
      border: 1px solid $gray3;
      color: $gray8;
      margin: 0px;
      &__zero-state {
        color: $gray6;
        text-align: center;
        line-height: 24px;
        font-style: italic;
        padding: 10px 15px;
      }
      &__additional-message {
        color: $gray6;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        font-style: italic;
        padding: 5px 0;
      }
      .company-selector__company {
        border-bottom: 1px solid $gray3;
        cursor: pointer;
        padding: 2px 4px;
        &:last-child {
          border-bottom: none;
        }
        
        &:hover {
          background-color: $brand-color;
        }
        &--highlighted {
          background-color: lighten($brand-color, 10%);
        }
      }
    }
  }
  &__company {
    font-size: 13px;
    font-family: $klavika;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0px;
    > img {
      vertical-align: bottom;
      display: inline-block;
      height: 24px;
      width: 24px;
      background: $gray8;
    }
    &__name {
      line-height: 18px;
      margin-left: 5px;
    }
  }
  &__loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,0.5);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    user-select: none;
    .wait-indicator.wait-indicator--centered {
      margin-top: -20px;
    }
    &__content {
      border-radius: 2px;
      background: $gray8;
      max-width: 300px;
      border: 1px solid $gray9;
      padding: 70px 40px 20px;
      position: relative;
      text-align: center;
      box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
      &__message {
        color: white;
        font-family: $klavika;
        &__name {
          font-size: 1.1em;
        }
      }
    }
  }
}
.navbar__company {
  .company-selector__company__name {
    display: inline-block;
    margin-bottom: 2px;
  }
  .company-selector__head__arrow {
    span.icon--dropdown-arrow {
      display: inline-block;
      margin-top: 3px;
    }
  }
}
