@charset "utf-8";

@font-face {
  font-family: 'Helvetica Neue';
  src: url("#{$transcend-font-path}/HelveticaNeue-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("#{$transcend-font-path}/HelveticaNeue.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("#{$transcend-font-path}/HelveticaNeue-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("#{$transcend-font-path}/icomoon.woff") format("woff"),
    url("#{$transcend-font-path}/icomoon.ttf") format("truetype"),
    url("#{$transcend-font-path}/icomoon.eot") format("eot");
  font-weight: normal;
}


@font-face {
  font-family: 'Klavika';
  src: url("#{$transcend-font-path}/KlavikaWebBasicLight.eot"),
       url("#{$transcend-font-path}/KlavikaWebBasicLight.ttf");
  src: url("#{$transcend-font-path}/KlavikaWebBasicLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika';
  src: url("#{$transcend-font-path}/KlavikaWebBasicRegular.eot"),
       url("#{$transcend-font-path}/KlavikaWebBasicRegular.ttf");
  src: url("#{$transcend-font-path}/KlavikaWebBasicRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika';
  src: url("#{$transcend-font-path}/KlavikaWebBasicMedium.eot"),
       url("#{$transcend-font-path}/KlavikaWebBasicMedium.otf");
  src: url("#{$transcend-font-path}/KlavikaWebBasicMedium.woff") format("woff");
  src: url("#{$transcend-font-path}/klavika-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova';
  src: url("#{$transcend-font-path}/mark_simonson_-_proxima_nova_light-webfont.eot"),
       url("#{$transcend-font-path}/mark_simonson_-_proxima_nova_light-webfont.otf");
  src: local("☺"),
    url("#{$transcend-font-path}/mark_simonson_-_proxima_nova_light-webfont.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("#{$transcend-font-path}/mark_simonson_-_proxima_nova_regular-webfont.eot"),
       url("#{$transcend-font-path}/mark_simonson_-_proxima_nova_regular-webfont.ttf") format('truetype');
  src: local("☺"),
    url("#{$transcend-font-path}/mark_simonson_-_proxima_nova_regular-webfont.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("#{$transcend-font-path}/mark_simonson_-_proxima_nova_bold-webfont.eot"),
       url("#{$transcend-font-path}/mark_simonson_-_proxima_nova_bold-webfont.otf");
  src: local("☺"),
    url("#{$transcend-font-path}/mark_simonson_-_proxima_nova_bold-webfont.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}
