@charset "utf-8";

$breakpoints: (
  small: 0px,
  medium: 640px,
  large: 1024px,
  xlarge: 1280px,
);

/*** Navigation ***/
nav.navbar {
  background-color: #1b1b1b;
  margin: 0;
  min-height: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: table;
  width: 100%;
  padding: 14px 0 14px 0;
  }
  .navbar__links {
    display: table-cell;
    vertical-align: middle;
    span.icon.icon--menu {
      display: none;
    }
    ul.navbar__links {
      padding-left: 0;
      list-style: none;
      li, li.navbar__links__link {
        display: inline-block;
        padding-right: 10px;

        & > a {
          padding: 12px 8px 10px 8px;
          color: #666;
          font-weight: 300;
          text-decoration: none;
          font-size: 16px;
          text-transform: uppercase;
          &:hover {
            color: #54c7dd;
            font-weight: 300;
          }
        }

        &.navbar__links__link--selected {
          color: #54c7dd;
          & > a {
            color: #54c7dd;
          }
        }
        &:last-child {
          background-image: none;
        }
      }
    }
  }
  .navbar__user {
}
@media screen and (max-width: 767px) {
  nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    .navbar__links {
      display: block;
      height: 50px;
      padding: 8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      span.icon.icon--menu {
        font-size: 28px;
        color: #999;
        cursor: pointer;
        display: inline;
        line-height: normal;
      }
      ul.navbar__links--desktop {
        display: none;
      }
      ul.navbar__links--mobile {
        display: block;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        margin: 0;
        padding: 10px 0;
        z-index: 100;
        background-color: #1b1b1b;
        li, li.navbar__links__link {
          display: block;
          padding: 6px 12px;
          font-size: 20px;
          border-bottom: 1px solid #292929;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

ul.nav {
  & > li {
    & > a {
      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}

/*** Tabs ***/
ul.nav-tabs {
  & > li {
    & > a {
      padding: 6px 12px;
      border-color: transparent;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: #54c7dd;
      &:hover {
        background-color: #50505a;
        color: #54c7dd;
      }
    }
    &.active > a {
      background-color: #54c7dd;
      border-color: transparent;
      color: #444;
      &:hover, &:focus {
        background-color: #54c7dd;
        border-color: transparent;
      }
    }
    &.disabled {
      cursor: default;
      & > a {
        cursor: default;
      }
    }
  }
}
.nav {
  .open {
    & > a:focus {
      background-color: #54c7dd;
      border-color: #fff;
      color: #444;
    }
  }
}


.view-nav {
  margin: 0 auto 20px auto;
  padding: 0;

  @media screen and (min-width: 768px) {
    width: 6250px;
  }
  @media screen and (min-width: 992px) {
    width: 845px;
  }
  @media screen and (min-width: 1200px) {
    width: 1045px;
  }
  &.view-nav--full-width {
    margin-right: 25px;
    margin-left: 25px;
    width: auto;
  }
}
.container__content__side-nav__item__drop__container {
  padding: 20px;
  position: relative;
  &:hover {
    color: #54c7dd;
    cursor: pointer;
  }
  span.container__content__side-nav__item__drop__container--icon {
    position: absolute;
    right: 0.75em;
    top: 50%;
    margin-top: -0.5em;
  }
  @media screen and (max-width: map-get($breakpoints, large)) {
    padding-left: 5px;
    .container__content__side-nav__item__drop__container--text, .container__content__side-nav__item__drop__container--icon {
      display: none;
    }
    button.btn {
      padding: 3px 5px;
      span:first-child {
        display: none;
      }
    }
  }
}
.container__content__side-nav {
  background-color: rgba(76,76,78,0.7);
  
  ul {
    margin: 0;
    padding: 0;
    li.container__content__side-nav__item {
      text-align: left;
      background-color: transparent;
      color: #999;
      list-style: none;
      font-size: 16px;
      font-weight: 300;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      align-items: center;
      justify-content: center;

      a {
        display: inline-block;
        padding: 8px 15px 7px 0px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        cursor: default;
        &[href] {
          cursor: pointer;
        }
        &:link { color: #999; }
        &:visited { color: #999; }
        &:active { color: #54c7dd; }
        &:hover { color: #54c7dd; }

        & > span.icon {
          display: inline-block;
          text-align: center;
          width: 30px;
          padding: 0;
        }

        &[href]:hover {
          & > span.icon {
            color: #54c7dd;
            -o-transition: linear .15s;
            -moz-transition: linear .15s;
            -webkit-transition: linear .15s;
            transition: linear .15s
          }
          & > span.container__content__side-nav__item__text {
            color: #54c7dd;
            a:link { color: #54c7dd; }
            a:visited { color: #54c7dd; }
            a:active { color: #54c7dd; }
            a:hover { color: #54c7dd; }
          }
        }
      }

      button {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
      }

      &.selected {
        background-color: rgba(56,56,58,0.9);
        background-color: #38383a;
        span.icon {
          color: #54c7dd;
        }
        span.container__content__side-nav__item__text {
          color: #54c7dd;
        }
      }
    }
  }
}
.container__content__side-user-dropdown {
  margin-left: 10px;
  padding: 15px 0;
  cursor: pointer;
  color: #808080;
  font-size: 1.3em;
  span {
    &:hover {
      color: #CCCCCC;
    }
  }
  &:hover {
    color: #CCCCCC;
  }
  img.container__content__side-user-dropdown__image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}
ul.container__content__side-user-list {
  overflow: hidden;
  li {
    background-color: #333333;
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: #CCCCCC;
      box-sizing: border-box;
      padding: 8px;
      &:hover {
        color: #54c7dd;
      }
    }
  }
}
.container__content__side-nav__item__drop {
  
  .container__content__side-nav__item__drop {
    padding-left: 10px;
    .container__content__side-nav__item__drop__container {
      padding: 10px 0 10px 20px;
    }
  }
}
ul.container__content__side-nav__item__drop__container__items {
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include transition(400ms ease-in);
  max-height: 0px;
  opacity: 0;
  
  &.slide-in {
    flex: 0 0 215px;
    max-height: 200px;
    max-height: 50vh;
    opacity: 1;
  }
  ul.container__content__side-nav__item__drop__container__items {
    overflow: hidden;
    &.slide-in {
      max-height: none;
      overflow: visible;
    }
  }
  li {
    &.selected {
      background-color: #38383a;
      a:link, a:visited, a:active, a:hover {
        color: #54c7dd;
      }
    }
    &:hover {
      background-color: #404040;
    }
    background-color: #333333;
    display: block;
    padding-left: 50px;
    a {
      display: block;
      color: #CCCCCC;
      box-sizing: border-box;
    }
  }
}

.no-show {
  height: 0;
  opacity: 0;
}
}