/* wait indicator */
.wait-indicator {
	position: relative;
	overflow: hidden;
	width: 75px;
	height: 15px;
	margin: 0;

	&.wait-indicator--block-centered {
		margin: 0 auto;
	}

	&.wait-indicator--centered,
	&.wait-indicator--absolute-center {
		margin-top: -7px;
		margin-left: -37px;
		position: absolute;
		left: 50%;
		top: 50%;
	}

	&.wait-indicator--absolute-left {
		margin-top: -7px;
		margin-left: -37px;
		position: absolute;
		left: 0;
		top: 50%;
	}
	&.wait-indicator--absolute-right {
		margin-top: -7px;
		margin-left: -37px;
		position: absolute;
		right: 0;
		top: 50%;
	}
	.bubble-1,
	.bubble-2,
	.bubble-3 {
			animation: bubble-stream 1.5s linear infinite;
			-webkit-animation: bubble-stream 1.5s linear infinite;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 15px;
	    height: 15px;
	    border-radius: 100%;
	    background-color: $brand-color;
	}
	.bubble-2 {
	    left: 30px;
	    animation-delay: -0.4s;
			-webkit-animation-delay: -0.4s;
	}	
	.bubble-3 {
	    left: 60px;
	    animation-delay: -0.8s;
			-webkit-animation-delay: -0.8s;
	}	
}
@keyframes bubble-stream  {
  0% { transform: scale(0.0); left: 100%; }
  50% { transform: scale(1.0); left: 50%; }
  100% { transform: scale(0.0); left: 0%; }
}
@-webkit-keyframes bubble-stream  {
  0% { transform: scale(0.0); left: 100%; }
  50% { transform: scale(1.0); left: 50%; }
  100% { transform: scale(0.0); left: 0%; }
}

