@charset "utf-8";

// colors
$uberlight-brand-color:         			#54c7dd;
$uberlight-add-color:									#238C2B;
$uberlight-delete-color:							#ff2222;
$uberlight-error-color:								#DB2900;
$uberlight-warning-color:							#F78803;
$uberlight-success-color:							#00D35A;

$uberlight-positive-color:						#00D35A;
$uberlight-negative-color:						#DB2900;
$uberlight-neutral-color:							#00BFF3;

$uberlight-male-color:								#00bff3;
$uberlight-female-color:							#ff72ce;
$uberlight-male-color-muted:					#1D6776;
$uberlight-female-color-muted:				#92268E;
$uberlight-no-gender-color:						#b3b3b3;

$uberlight-toned-down-positive-color:	#238C2B;
$uberlight-toned-down-negative-color:	#8C232B;
$uberlight-toned-down-neutral-color:	#00BFF3;

$uberlight-toned-down-male-color:			#00bff3;
$uberlight-toned-down-female-color:		#ff72ce;
$uberlight-toned-down-no-gender-color:#b3b3b3;

$uberlight-accent-color-1:						#F78803; // orange
$uberlight-accent-color-2:						#ffffff; // white
$uberlight-accent-color-3:						#b3b3b3; // gray

// some colors for buttons
$uberlight-btn-text-color:						#121212;
$uberlight-btn-secondary-border-color:#e6e6e6;

// some colors for inputs
$uberlight-input-border-color:				#cccccc;
$uberlight-input-background-color:		#f2f2f2;
$uberlight-input-text-color:					#999999;
$uberlight-input-active-text-color:		#666;

// the base background color of the app
$uberlight-background-color:					#ffffff;
$uberlight-main-content-background-color:#e0e0e0;

$uberlight-placeholder-color:					#e0e0e0;