@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
//@import "bootstrap-custom";
@import "./nav.scss";
@import "./modals.scss";
@import "./modal.scss";

.flex {
  display: flex;
}

body {
  background-color: #292929;
  color: #999;
  font-family: "Helvetica";
}
main.form-content {
  max-width: 900px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.entry,
.page,
.list {
  margin-top:    1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 720px) {
  main.form-content {
    margin-left: 230px;
    width: 65%;
    padding-left: 0;
  }
  .entry,
  .page,
  .list {
    margin-top:    3rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 1170px) {
  main.form-content {
    width: 70%;
    margin-left: 230px;
    margin-right: 2.5%;
  }
}

.top {
  border-bottom-style: solid;
  border-width: 1px;
}

.bottom {
  border-bottom-style: solid;
  border-width: 1px;
}

div.details {
  border-left-style: solid;
  border-width: 1px;
  padding: 5px;
}

div.chapter_id {
  padding: 5px;
  align-self: center;
  text-align: center;
  min-width: 25px;
}

div.table-outline {
  margin-top: 5px;
  border-style: solid;
  border-width: 1px;
}

div.book {
  padding: 5px;
}


.bookselect {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;

  background-color: transparent;
  border: 1px solid orange;

  padding: 6px 2px 6px 2px;

  max-width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  position: relative;
  cursor: default;
  
  &:focus {
    outline: none;
    border-color: orange;
    color: #CCCCCC;
    box-shadow: 0 0 10px 0 darken(orange,15%);
    -webkit-box-shadow: 0 0 10px 0 darken(orange,15%);
    -moz-box-shadow: 0 0 10px 0 darken(orange,15%);
    -ms-box-shadow: 0 0 10px 0 darken(orange,15%);
  }

  &--nav {
    margin: 0;
    border: none;
    cursor: pointer;
    .bookselect__label {
      font-weight: 300;
      font-size: 12px;
      color: orange;
    }
    .bookselect__selected-text {
      padding: 0;
      font-weight: 400;
      font-size: 16px;
      color: #999999;
      cursor: pointer;
      &:hover {
        color: #CCCCCC;
      }
    }
    .bookselect__options-panel {
      position: absolute;
      z-index: 90;
      left: 0;
      top: 100%;
      width: 200px;
      max-height: 300px;
      padding: 0;
      border: 1px solid orange;
      background-color: lightgray;

      .bookselect__options__search {
        margin: 0;
        padding: 4px;
        background-color: #1b1b1b;
      }
      .bookselect__options-panel__options {
        max-height: 280px;
        overflow-y: scroll;

        border: none;
        background-color: lightgray;
        .bookselect__options__option {
          line-height: 1.2em;
          cursor: pointer;
          padding: 8px 8px;          
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:hover {
            background-color: darken(lightgray, 5%);
          }
        }
      }
      .bookselect__options__button {
        margin: 0;
        padding: 4px;
        background-color: #1b1b1b;
      }
    }
    .bookselect__options-panel--right {
      left: auto;
      right: 0;
    }
  }

  &__selected-text {
    font-size: 15px;
    padding: 0 7px;
    cursor: pointer;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__options {
    position: absolute;
    z-index: 90;
    left: 0;
    top: 100%;
    min-width: 100%;
    max-width: 210px;
    max-height: 300px;
    overflow-y: scroll;
    padding: 4px;
    border: 1px solid orange;
    background-color: #121212;
    text-align: left;

    &.bookselect__options--right {
      left: auto;
      right: 0;
    }

    &__option {
      padding: 5px 8px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      position: relative;
      &--has-icon {
        padding-right: 28px;
      }
      &__icon {
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 6px 5px 0px 0;
      }
      &:hover {
        background-color: #121212;
      }
      &--highlighted {
        background-color: #151515;
      }
      &.selected {
        border: 1px solid orange;
        background-color: #121212;
      }
    }
  }

  &.no-outline {
    border: none;
    padding: 2px 13px 2px 2px;
    background-position: right center;
    .bookselect__options {
      left: 7px;
    }
  }

  span.icon {
    padding: 0 0 0 4px;
  }
}
.select__options-panel {
    z-index: 90;
    position: absolute;
    border: 1px solid orange;
    background-color: lightgray;
    width: 300px;
    max-height: 100px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    cursor: pointer;
    .select__options-panel__options {
      overflow-y: scroll;
      cursor: pointer;
    }
}

section.breathe {
  margin-left: 30px;
  button.add-details {
    background-color: rgb(255,150,0);
    color: black;
  }
}