.audiences_image {
	height: 800px;
	background-image: url('../images/audiences.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}
