span.nav-list {
  
}

span.nav-item {

}

span.nav-drop {

  &__items {

  }
}

span.nav-text {

}

span.nav-icon {
  margin-top: 2px;
  &__left {
    margin-right: 10px;
  }
  &__right {
    margin-left: 10px;
  }
}

span.nav-button {

}

span.nav-div {

}

