<div class="container">
  <div class="container__content">
    <main>
      <section>
        <%= render({ :partial => "chapter/chapters",
                     :locals => { :chapters => @chapters,
                                  } }) %>
      </section>
      <section>
        <%= render({:partial => "character/character", :locals => {:characters => @characters}}) %>
      </section>
      <section>
        <div className="row row--spaced">
          <div className="row__cell">
            <label>Chapter</label>
          </div>
          <div className="row__cell">
            <select className="select">
              <option>chapter 1</option>
              <option>chapter 2</option>
            </select>
            <div className="select"></div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>

