@charset "utf-8";


$reports-brand-color:						#54c7dd;


$reports-background-color:			#f2f2f2;
$reports-page-color:						#ffffff;
$reports-nav-color:							#a0a0a0;
$reports-nav-gradient-color-1:	#a0a0a0;
$reports-nav-gradient-color-2:	#909090;

$reports-positive-color:						#00D35A;
$reports-negative-color:						#ef463f;
$reports-neutral-color:							#47C3F9;

$reports-male-color:								#00bff3;
$reports-female-color:							#ff72ce;
$reports-male-color-muted:					#1D6776;
$reports-female-color-muted:				#92268E;
$reports-no-gender-color:						#b3b3b3;

$reports-accent-color-1:				#F78803;
$reports-accent-color-2:				#ffffff;
$reports-accent-color-3:				#b3b3b3;

$reports-male-color:						#00bff3;
$reports-female-color:					#ff72ce;
$reports-no-gender-color:				#b3b3b3;
$reports-male-color-muted:			#46838f;
$reports-female-color-muted:		#ad63ab;

// some colors for buttons
$reports-btn-text-color:						#121212;
$reports-btn-secondary-border-color:#ccc;
$reports-btn-secondary-text-color:	#999;

// some colors for inputs
$reports-input-border-color:				#cccccc;
$reports-input-background-color:		#f2f2f2;
$reports-input-text-color:					#666;
$reports-input-active-text-color:		#444;

// the base background color of the app
$reports-background-color:					#f0f0f0;
$reports-main-content-background-color:#ffffff;

$reports-placeholder-color:					#e0e0e0;